mcsp
mcsp_tighter_bounding
mcsp_path_len
mcsp_path_len_tighter_bounding
mcsp_2paths
mcsp_2paths_tighter_bounding
mcsp_lazy
non_ind_mcsp_2paths
non_ind_mcsp_2paths_restarts
non_ind_mcsp_2paths_restarts_simple_nogoods
non_ind_cp_2paths
non_ind_mcsp_2paths_with_bells_and_whistles
